<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="customer_menu"
        name="Barberia"
        sequence="1"/>
    <menuitem
        id="customer_data_menu"
        name="CLiente"
        action="barberia.customer_action"
        parent="customer_menu"
        sequence="2"/>
    <menuitem
        id="quotes_data_menu"
        name="Citas"
        action="barberia.quotes_action"
        parent="customer_menu"
        sequence="1"/>
    
</odoo>