<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem
        id="customer_menu"
        name="Barbería"
        sequence="1"/>
    <menuitem
        id="barbershop_appointment_data_menu"
        name="Citas"
        action="barbershop.barbershop_appointment_action"
        parent="customer_menu"
        sequence="2"/>
    
</odoo>
